fastapi
uvicorn
python-multipart
motor
pymongo
google-generativeai
python-dotenv
pydantic
httpx
pytest
langchain
langchain-openai
faiss-cpu
langchain_community
google-cloud-aiplatform
langchain-google-vertexai
langchain-google-genai
weaviate-client>=3.26.7,<4.0.0