@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
@plugin "@tailwindcss/typography";

:root {
  --background: #141416;
  --foreground: #ffffff;
  --background-block: #1c1c1e;
  --outline: #303034;
  --accent: #75d00d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-block: var(--background-block);
  --color-outline: var(--outline);
  --color-accent: var(--accent);
  --font-sans: var(--font-fixel);
  --font-serif: var(--font-tartuffo);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 14px;
}

@font-face {
  font-family: "Fixel";
  src: url("./fonts/FixelVariable.ttf") format("truetype");
  font-display: swap;
  /* Adjusting font metrics */
  ascent-override: 90%; /* Reduces space above characters */
  descent-override: 25%; /* Controls space below characters */
  line-gap-override: 0%; /* Reduces extra line spacing */
}

.prose pre {
  background-color: #282c34;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
